# --- Ambientes Virtuais ---
.venv/
venv/
env/

# --- Arquivos de Cache do Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Arquivos de Configuração Local e Segredos ---
.env
*.env

# --- Arquivos de IDEs e Editores de Código ---
.vscode/
.idea/

# --- Arquivos de Sistema Operacional ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log